<header id="header">
  <!-- <div id="logo" style="background-image: url(/images/logo.png);"></div> -->
  <div id="title">
    <h1><%= config.title %></h1>
    <h2><%= config.subtitle %></h2>
  </div>
</header>
