// Fonts
$font-family-body = "Arial", sans-serif;
// $font-family-mono = "Menlo", "Meslo LG", monospace
// $font-family-tt = "Inconsolata", monospace
$font-size = 16px
$line-height = 1.6
$page-width = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
// Colors
$color-primary = #0d2481
$color-link = #0d2481

$color-background = #FFFFFF
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = #0d2481
$color-text = #383838
$color-accent-3 = #8c8c8c
$color-accent-2 = #383838
$color-accent-1 = $color-primary
$color-quote = $color-primary
$highlight = hexo-config("highlight") || "atelier-cave-light"
